.card:hover {
    transform: translateY(0%);
}

.watch-page .watch-icons {
    position: absolute; /* رفع الايقونات بأسفل الفيديو */
    bottom: 5px;
    right: 20px;
}

.watch-icons i:hover {
    cursor: pointer;
}

.watch-page #more {
    display: none;

}

.form-control:focus {
    box-shadow: none;
}

.card-inner {
    display: none;
}

.publis-comments .card .btn {
    background-color: #921192;
    border-color: #921192;
    color: #fff;
}

.publis-comments .card .btn:hover {
    background-color: #b915b9;
}

time {
    left: 19px !important;
}

.watch-page .fa-play {
    right: 46% !important;
}

@media (min-width: 992px) {
    time {
        font-size: 13px;
    }
    .fa-play {
        font-size: 20px;
    }
}

@media (max-width: 992px) {
    #myBtn {
        margin-bottom: 60px !important;
    }
}

@media (max-width: 767px) {
    .reply-time {
        font-size: 10px;
    }
}
